<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Capro{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block metas %}{% endblock %}
    <meta property="og:url" content="{{ absolute_url(path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))) }}"/>
    {% block opengraph %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('assets/images/capro.png') }}">
    <!-- LIBRARY FONT-->
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}">
    <!-- LIBRARY CSS-->
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <!-- STYLE CSS    -->
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% block stylesheets %}{% endblock %}
    <!-- LIBRARY JS -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-91791693-10', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body {% block move %}{% endblock %}>
    <div id="mySidenav" class="sidenav" {{ render(controller('FrontendBundle:Default:menu')) }}>
        <a class="closebtn">&times;</a>
        <ul class="main-menu">
            <li><a href="{{ path('about') }}" class="option">Nosotros</a></li>
            <li><a href="{{ path('projects') }}" class="option">Proyectos</a></li>
            <li><a href="{{ path('customers') }}" class="option">Clientes</a></li>
            <li><a href="{{ path('contact') }}" class="option">Contacto</a></li>
        </ul>
        <div class="menu-footer">
            <ul>
                <li><a href="https://www.facebook.com/caprocarpinteria/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://es.pinterest.com/CAPROCARP/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            </ul>
            <div>
                <a href="tel:7222543554"><p>7222543554</p></a>
                <a href="mailto:contacto@caprocarpinteria.com?subject=Capro Carpintería Webpage - Información"><p>contacto@caprocarpinteria.com</p></a>
                <a href="http://caprocarpinteria.com/"><p>www.caprocarpintería.com</p></a>
            </div>
        </div>
    </div>
    <div class="openbtn">
        <span></span>
        <span></span>
        <span></span>
    </div>

{% block body %}{% endblock %}

    <!-- SCRIPTS -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script async src="{{ asset('assets/js/functions.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.touchSwipe.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>